.form-group {
  label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    // padding-bottom: 10px;
    font-weight: bold;
    color: #b5b4b4;
  }

  input {
    height: 45px;
    border-radius: 3px;
    border-color: #b5b4b4;
    -moz-border-radius: 3px;
    -moz-appearance: none;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
      border-width: 2px;
      border-color: #22264b;
      outline: none;
    }

    &:active {
      border-width: 2px;
      border-color: #22264b;
      outline: none;
    }
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #b5b4b4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px;

    &--focus {
      border-width: 2px;
      border-color: #22264b;
      outline: none;
    }
    &--active {
      border-width: 2px;
      border-color: #22264b;
      outline: none;
    }
  }
}
